{% extends "graphs/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Jefferson County Alabama</h1>
  <b><hr class="my-4"></b>
  <legend class = "border-bottom mb-4">How did Alabama handle COVID-19?<br></legend>
  <p>Shelter-in-place: April 4 to April 30.</p>
  <p>Reopening status: Paused.</p>
  <legend class = "border-bottom mb-4">Population Density: <br></legend>
  <p>595 people per square mile</p>
  <div class="row">
  <ul>
    {% for bama in alabama reversed  %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ bama.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ alabama.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>

    <legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
      <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'al-predict' %}">Yes!</a>
    <p class="lead">
    </p>
</div>
{% endblock content %}
