{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Los Angeles County California</h1>
  <hr class="my-4">
  <legend class = "border-bottom mb-4">How did California handle COVID-19?<br></legend>
  <p>Shelter-in-place: March 19 to May 25.</p>
  <p>Reopening status: Reversing</p>
  <legend class = "border-bottom mb-4">Population Density: <br></legend>
  <p>2,344 people per square mile</p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for california in california %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ california.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ california.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>

<legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
  <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'ca-predict' %}">Yes!</a>
  <p class="lead">
  </p>
</div>
{% endblock content %}
