{% extends "graphs/base.html" %}
{% block content %}
<div class="jumbotron">
<h1 class="display-3">Conclusion</h1>
<hr class="my-4">
<p>COVID-19 is a global pandemic, and while the data shows a relationship between temperature and number of cases reported,
that doesn't necessarily mean that there aren't other contributing factors. The number of cases may go up as the temperature goes up,
but the process is expedited with a lack of social distancing guidelines. Alaska, for example, had a slow rate rate of virus transmission while
shelter-in-place orders were in effect, but once those orders were removed the cases began to increase rapidly. <br>
It is beneficial to know everything that contributes to a rise in cases, but if the US does not follow guidelines that are proven to
be effective at slowing the spread of the virus, then the other contributing factors that are outside of our control will not matter.</p>
</div>
{% endblock content %}
