{% extends "graphs/base.html" %}
{% load static %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">How Did The States Handle COVID-19?</h1>
  <hr class="my-4">
  <p><b>Alabama:</b> Shelter-in-place orders from April 4 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Alaska:</b> Shelter-in-place orders from March 28 to May 20. Travel limitations.</p>
  <p><b>Arizona:</b> Shelter-in-place orders from March 31 to {undetermined as of 7/23/2020}.</p>
  <p><b>Arkansas: No shelter-in-place orders.</b></p>
  <p><b>California:</b> Shelter-in-place orders from March 19 to {undetermined as of 7/23/2020}.</p>
  <p><b>Colorado:</b> Shelter-in-place orders from March 26 to {undetermined as of 7/23/2020}.</p>
  <p><b>Connecticut:</b> Shelter-in-place orders from March 23 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Delaware:</b> Shelter-in-place orders from March 24 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Florida:</b> Shelter-in-place orders from April 3 to {undetermined as of 7/23/2020}.</p>
  <p><b>Georgia:</b> Shelter-in-place orders from April 3 to April 30.</p>
  <p><b>Hawaii:</b> Shelter-in-place orders from March 25 to May 31.</p>
  <p><b>Idaho:</b> Shelter-in-place orders from March 25 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Illinois:</b> Shelter-in-place orders from March 21 to April 30.</p>
  <p><b>Indiana:</b> Shelter-in-place orders from March 24 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Iowa: No shelter-in-place orders.</b></p>
  <p><b>Kansas:</b> Shelter-in-place orders from March 30 to May 3.</p>
  <p><b>Kentucky:</b> Shelter-in-place orders from March 26 to May 22.</p>
  <p><b>Louisiana:</b> Shelter-in-place orders from March 23 to {undetermined as of 7/23/2020}.</p>
  <p><b>Maine:</b> Shelter-in-place orders from April 2 to May 31.</p>
  <p><b>Maryland:</b> Shelter-in-place orders from March 30 to May 15.</p>
  <p><b>Massachusetts:</b> Shelter-in-place orders from March 24 to May 4.</p>
  <p><b>Michigan:</b> Shelter-in-place orders from March 24 to {undetermined as of 7/23/2020}.</p>
  <p><b>Minnesota:</b> Shelter-in-place orders from March 27 to May 3.</p>
  <p><b>Mississippi:</b> Shelter-in-place orders from April 3 to {paused reopening as of 7/23/2020}.</p>
  <p><b>Missouri:</b> Shelter-in-place orders from April 6 to May 3.</p>
  <p><b>Montana:</b> Shelter-in-place orders from March 28 to April 10.</p>
  <p><b>Nebraska: No shelter-in-place orders.</b></p>
  <p><b>Nevada:</b> Shelter-in-place orders from April 1 to {undetermined as of 7/23/2020}.</p>
  <p><b>New Hampshire:</b> Shelter-in-place orders from March 27 to May 15.</p>
  <p><b>New Jersey:</b> Shelter-in-place orders from March 24 to {paused reopening as of 7/23/2020}.</p>
  <p><b>New Mexico:</b> Shelter-in-place orders from March 24 to {undetermined as of 7/23/2020}.</p>
  <p><b>New York:</b> Shelter-in-place orders from March 22 to May 15.</p>
  <p><b>North Carolina:</b> Shelter-in-place orders from March 30 to {paused reopening as of 7/23/2020}.</p>
  <p><b>North Dakota: No shelter-in-place orders.</b></p>
  <p><b>Ohio:</b> Shelter-in-place orders from March 23 to May 1.</p>
  <p><b>Oklahoma:</b> Shelter-in-place orders from March 28 to April 30.</p>
  <p><b>Oregon:</b> Shelter-in-place orders from March 23 to {paused reopening as of 7/23/2020}. </p>
  <p><b>Pennsylvania:</b> Shelter-in-place orders from April 1 to May 8.</p>
  <p><b>Rhode Island:</b> Shelter-in-place orders from March 28 to May 8.</p>
  <p><b>South Carolina:</b> Shelter-in-place orders from April 6 to {paused reopening as of 7/23/2020}.</p>
  <p><b>South Dakota: No shelter-in-place orders. No business closures required.</b></p>
  <p><b>Tennessee:</b> Shelter-in-place orders from March 31 to April 30.</p>
  <p><b>Texas:</b> Shelter-in-place orders from April 2 to {undetermined as of 7/23/2020}.</p>
  <p><b>Utah:</b> Shelter-in-place orders from March 27 to May 1.</p>
  <p><b>Vermont:</b> Shelter-in-place orders from March 25 to May 15.</p>
  <p><b>Virginia:</b> Shelter-in-place orders from March 30 to June 10.</p>
  <p><b>Washington:</b> Shelter-in-place orders from March 23 to {paused reopening as of 7/23/2020}.</p>
  <p><b>West Virginia:</b> Shelter-in-place orders from March 24 to May 21.</p>
  <p><b>Wisconsin:</b> Shelter-in-place orders from March 25 to May 26.</p>
  <p><b>Wyoming:</b> Shelter-in-place orders from March 28 to {paused reopening as of 7/23/2020}.</p>
  <p>Note: Paused states have reopened some businesses, but are put on hold as far as reopening any more businesses until COVID is under control.</p>
  <p>Note: Undetermined states are reversing their decision to reopen the state.</p>
  <p>Link to this information: https://www.nytimes.com/interactive/2020/us/states-reopen-map-coronavirus.html</p>
  <p>Link to this information: https://www.nbcnews.com/health/health-news/here-are-stay-home-orders-across-country-n1168736</p>
  <p class="lead">
  </p>
</div>

{% endblock content %}
