{% extends "graphs/base.html" %}
{% load static %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Shelter-In-Place Orders:</h1>
  <hr class="my-4">
  <p><b>Alabama:</b> April 4 to April 30. <i>Reopening Status: Pausing</i></p>
  <p><b>Alaska:</b> March 28 to April 24. <i>Reopening Status: Reopened</i></p>
  <p><b>Arizona:</b> March 31 to April 30. <i>Reopening Status: Reopening</i></p>
  <p><b>Arkansas: No shelter-in-place orders.</b> <i>Reopening Status: Pausing</i></p>
  <p><b>California:</b> March 19 to May 25. <i>Reopening Status: Reversing</i></p>
  <p><b>Colorado:</b> March 26 to April 26. <i>Reopening Status: Reversing</i></p>
  <p><b>Connecticut:</b> March 23 to May 20. <i>Reopening Status: Reopening</i></p>
  <p><b>Delaware:</b> March 24 to May 15. <i>Reopening Status: Pausing</i></p>
  <p><b>Florida:</b> April 3 to April 30. <i>Reopening Status: Reopened</i></p>
  <p><b>Georgia:</b> April 3 to April 30. <i>Reopening Status: Reopened</i></p>
  <p><b>Hawaii:</b> March 25 to May 31. <i>Reopening Status: Reopening</i></p>
  <p><b>Idaho:</b> March 25 to April 30. <i>Reopening Status: Reopened</i></p>
  <p><b>Illinois:</b> March 21 to April 30. <i>Reopening Status: Reversing</i></p>
  <p><b>Indiana:</b> March 24 to May 1. <i>Reopening Status: Reopened</i></p>
  <p><b>Iowa: No shelter-in-place orders.</b> <i>Reopening Status: Reopened</i></p>
  <p><b>Kansas:</b> March 30 to May 3. <i>Reopening Status: Reopened</i></p>
  <p><b>Kentucky:</b> March 26 to May 22. <i>Reopening Status: Reopened</i></p>
  <p><b>Louisiana:</b> March 23 to May 15. <i>Reopening Status: Reopening</i></p>
  <p><b>Maine:</b> April 2 to May 31. <i>Reopening Status: Reopening</i></p>
  <p><b>Maryland:</b> March 30 to May 15. <i>Reopening Status: Reopened</i></p>
  <p><b>Massachusetts:</b> March 24 to May 4. <i>Reopening Status: Reopening</i></p>
  <p><b>Michigan:</b> March 24 to May 15. <i>Reopening Status: Reopened</i></p>
  <p><b>Minnesota:</b> March 27 to May 3. <i>Reopening Status: Reopened</i></p>
  <p><b>Mississippi:</b> April 3 to May 11. <i>Reopening Status: Reopened</i></p>
  <p><b>Missouri:</b> April 6 to May 3. <i>Reopening Status: Reopened</i></p>
  <p><b>Montana:</b> March 28 to April 10. <i>Reopening Status: Reopened</i></p>
  <p><b>Nebraska: No shelter-in-place orders.</b> <i>Reopening Status: Reopened</i></p>
  <p><b>Nevada:</b> April 1 to April 30. <i>Reopening Status: Reopened</i></p>
  <p><b>New Hampshire:</b> March 27 to May 15. <i>Reopening Status: Reopened</i></p>
  <p><b>New Jersey:</b> March 24 to June 9. <i>Reopening Status: Reopened</i></p>
  <p><b>New Mexico:</b> March 24 to May 15. <i>Reopening Status: Reversing</i></p>
  <p><b>New York:</b> March 22 to May 15. <i>Reopening Status: Reversing</i></p>
  <p><b>North Carolina:</b> March 30 to May 8. <i>Reopening Status: Pausing</i></p>
  <p><b>North Dakota: No shelter-in-place orders.</b> <i>Reopening Status: Reopened</i></p>
  <p><b>Ohio:</b> March 23 to May 1. <i>Reopening Status: Reopening</i></p>
  <p><b>Oklahoma:</b> March 28 to April 16. <i>Reopening Status: Reopened</i></p>
  <p><b>Oregon:</b> March 23 to May 15. <i>Reopening Status: Pausing</i></p>
  <p><b>Pennsylvania:</b> April 1 to May 8. <i>Reopening Status: Reopened</i></p>
  <p><b>Rhode Island:</b> March 28 to May 8. <i>Reopening Status: Pausing</i></p>
  <p><b>South Carolina:</b> April 6 to April 20. <i>Reopening Status: Reopened</i></p>
  <p><b>South Dakota: No shelter-in-place orders.</b> <i>Reopening Status: Reopened</i></p>
  <p><b>Tennessee:</b> March 31 to April 30. <i>Reopening Status: Reopened</i></p>
  <p><b>Texas:</b> April 2 to April 30. <i>Reopening Status: Reversing</i></p>
  <p><b>Utah:</b> March 30 to April 13. <i>Reopening Status: Reopened</i></p>
  <p><b>Vermont:</b> March 25 to May 15. <i>Reopening Status: Reopened</i></p>
  <p><b>Virginia:</b> March 30 to June 10. <i>Reopening Status: Reopened</i></p>
  <p><b>Washington:</b> March 23 to May 4. <i>Reopening Status: Reopening</i></p>
  <p><b>West Virginia:</b> March 24 to May 21. <i>Reopening Status: Reopened</i></p>
  <p><b>Wisconsin:</b> March 25 to May 26. <i>Reopening Status: Reopened</i></p>
  <p><b>Wyoming:</b> March 28 to April 17. <i>Reopening Status: Reopened</i></p>
  <p>Note: Paused states have reopened some businesses, but are put on hold as far as reopening any more businesses until COVID is under control.</p>
  <p>Note: Undetermined states are reversing their decision to reopen the state.</p>
  <p>Link to this information: https://www.nytimes.com/interactive/2020/us/states-reopen-map-coronavirus.html</p>
  <p>Link to this information: https://www.nbcnews.com/health/health-news/here-are-stay-home-orders-across-country-n1168736</p>
  <p class="lead">
  </p>
</div>

{% endblock content %}
