{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Bergen County New Jersey</h1>
  <hr class="my-4">
  <p class = "display-4">How did New Jersey handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 24 to {paused reopening as of 7/23/2020}.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for newjersey in newjersey %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ newjersey.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ newjersey.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For New Jersey, predictions can be made using the formula <b>y = 412.4337x - 1.598e+04</b>.
  The R² = 0.572, which is not one of the stronger correlations in the study. Nevertheless,
  the p-value is much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
  <p class="lead">
  </p>
</div>
{% endblock content %}
