{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Mecklenburg County North Carolina</h1>
  <hr class="my-4">
  <p class = "display-4">How did North Carolina handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 30 to {paused reopening as of 7/23/2020}.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for northcarolina in northcarolina %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ northcarolina.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ northcarolina.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For North Carolina, predictions can be made using the formula <b>y = 174.2733x - 1.01e+04</b>.
  The R² = 0.413, which is one of the weakest correlations in the study. Nevertheless,
  the p-value is still much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
<legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
  <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'nc-predict' %}">Yes!</a>
  <p class="lead">
  </p>
</div>
{% endblock content %}
