{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Franklin County Ohio</h1>
  <hr class="my-4">
  <p class = "display-4">How did Ohio handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 23 to May 1.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for ohio in ohio %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ ohio.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ ohio.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For Ohio, predictions can be made using the formula <b>y = 146.9430x - 6367.5828</b>.
  The R² = 0.657, which is one of the stronger correlations in the study. Furthermore,
  the p-value is much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
  <p class="lead">
  </p>
</div>
{% endblock content %}
