{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Multnomah County Oregon</h1>
  <hr class="my-4">
  <p class = "display-4">How did Oregon handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 23 to {paused reopening as of 7/23/2020}.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for oregon in oregon %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ oregon.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ oregon.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For Oregon, predictions can be made using the formula <b>y = 45.0619x - 2162.8279</b>.
  The R² = 0.489, which is not one of the stronger correlations in the study. Nevertheless,
  the p-value is much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
<legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
  <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'or-predict' %}">Yes!</a>
  <p class="lead">
  </p>
</div>
{% endblock content %}
