{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Minnehaha County South Dakota</h1>
  <hr class="my-4">
  <legend class = "border-bottom mb-4">How did South Dakota handle COVID-19?<br></legend>
  <p>No shelter-in-place orders.</p>
  <p>No business closures.</p>
  <p>Reopening status: Reopened</p>
  <legend class = "border-bottom mb-4">Population Density: <br></legend>
  <p>210 people per square mile</p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for southdakota in southdakota %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ southdakota.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ southdakota.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>

<legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
  <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'sd-predict' %}">Yes!</a>
  <p class="lead">
  </p>
</div>
{% endblock content %}
