{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Greenville County South Carolina</h1>
  <hr class="my-4">
  <legend class = "border-bottom mb-4">How did South Carolina handle COVID-19?<br></legend>
  <p>Shelter-in-place: April 6 to April 20.</p>
  <p>Reopening status: Reopened</p>
  <legend class = "border-bottom mb-4">Population Density: <br></legend>
  <p>575 people per square mile</p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for southcarolina in southcarolina %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ southcarolina.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ southcarolina.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>

<legend class = "border-bottom mb-4">Do you want to make a prediction?</legend>
  <a class = "btn btn-secondary btn-sm mt-1 mb-1" href = "{% url 'sc-predict' %}">Yes!</a>
  <p class="lead">
  </p>
</div>
{% endblock content %}
