{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Shelby County Tennessee</h1>
  <hr class="my-4">
  <p class = "display-4">How did Tennessee handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 31 to April 30.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for tennessee in tennessee %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ tennessee.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ tennessee.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For Tennessee, predictions can be made using the formula <b>y = 167.2234x - 9287.2448</b>.
  The R² = 0.597, which is not one of the stronger correlations in the study. Nevertheless,
  the p-value is much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
  <p class="lead">
  </p>
</div>
{% endblock content %}
