{% extends "graphs/base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1 class="display-3">Salt Lake County Utah</h1>
  <hr class="my-4">
  <p class = "display-4">How did Utah handle COVID-19?<br></p>
  <p><b>Shelter-in-place: March 27 to May 1.</b></p>
  <hr class="my-4">
  <div class="row">
  <ul>
    {% for utah in utah %}
    <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <img style="height: 350px; width: 310%; display: center-block;" src= "{{ utah.image.url }}" alt="Card image">
        </blockquote>
    </div>
    <p>{{ utah.description }}</p>
    <hr class="my-4">
    {% endfor %}
  </ul>
</div>
<p>For Utah, predictions can be made using the formula <b>y = 148.8861x - 6724.3751</b>.
  The R² = 0.569, which is not one of the stronger correlations in the study. Nevertheless,
  the p-value is much lower than 0.01, which indicates that this correlation is likely not due to chance alone.
</p>
  <p class="lead">
  </p>
</div>
{% endblock content %}
